<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alice`s chess</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="flex-block flex-block_all-center">
        <div class="boardPlace">
            <div class="board leftBoard"></div>
            <div class="board rightBoard"></div>
        </div>
    </div>
    <script>
        // TODO: Don't work! For some reason. 
        const LINK = "ws:/192.168.0.18:1323/games/connect/{{.URL}}"
        const ws = new WebSocket(LINK)

        ws.onopen = function() {
            console.log("Connected to the server")
        } 

        ws.onmessage = function(event) {
            console.log("Mesage: ", event.data)
        }

        ws.onclose = function() {
            console.log("Disconnected")
        }
    </script>

    <script type="module" src="/static/chessJS/index.js"></script>
</body>

</html>
