<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alice`s chess</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="flex-block flex-block_all-center">
        <div class="boardPlace">
            <div class="board leftBoard"></div>
            <div class="board rightBoard"></div>
        </div>
    </div>
    <script>
        const LINK = "ws:/" + window.location.host + "/games/ws"
//        const ws = new WebSocket(LINK)
/*
        let counter = 0;

        ws.onopen = function() {
            console.log("Connected to the server")
            
            setInterval(() => {
                ws.send("PING")
            }, 4000)
        } 

        ws.onmessage = function(event) {
            console.log("Mesage: ", event.data)
        }

        ws.onclose = function() {
            console.log("Disconnected")
        }
        */
    </script>

    <script type="module" src="/static/chessJS/game.js"></script>
</body>

</html>
