<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alice`s chess</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="curtain"></div>
    <section class="background background_game">
        <main class="main">
            <div class="flex-block flex-block_all-center">
                <div class="boardPlace">
                    <div class="board-border">
                        <div class="board leftBoard"></div>
                    </div>
                    <div class="board-border">
                        <div class="board rightBoard"></div>
                    </div>
                </div>
            </div>
            <dialog class="dialog" id="endGame" popover>
                <section class="dialog__content background_endGame form">
                    <h3 class="text dialog__title">Game is end</h3>
                    <p class="text dialog__text">WINNER</p>
                    <a href="/games/connectionMenu" class="dialog__button form__input form__button">HOME</a>
                </section>
            </dialog>
        </main>
    </section>
    <script>
        const LINK = "/games/{{.URL}}/getTurn"
    </script>

    <script type="module" src="/static/chessJS/game.js"></script>
</body>

</html>
