<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form action="" method="post" class="form flex-block flex-block_vertical flex-block_all-center">
        <input placeholder="Login" type="text" name="login" id="" class="form__input">
        <input placeholder="Password" type="password" name="passw" id="" class="text form__input">
        <input type="submit" value="Log in" class="text form__input">
    </form>
    {{ if .log }}
    <a href="/login/logout">Log out</a>
    {{ end }}
</body>
</html>
