<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="background background_login">
        <main class="main">
            <form action="" method="post" class="form menu flex-block flex-block_vertical flex-block_all-center">
                {{ if .Notlog }}
                <input required placeholder="Логин" type="text" name="login" id="" class="form__input form__input_error form__input">
                <input required placeholder="Пароль" type="password" name="passw" id="" class="form__input form__input_error text form__input">
                {{ else }}
                <input required placeholder="Логин" type="text" name="login" id="" class="form__input">
                <input required placeholder="Пароль" type="password" name="passw" id="" class="text form__input">
                {{ end }}
                <input type="submit" value="Войти" class="text form__input form__input_button">
                
                {{ if .logout }}
                <a href="/auth/login/logout">Выйти</a>
                {{ end }}
            </form>
        </main>
    </section>
</body>
</html>
