<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form method="post" class="form">
        <div class="flex-block flex-block_all-center flex-block_vertical form__title">
            <label class="form__title" for="login">Login</label>
            <label class="form__title" for="passw">Password</label>
            <label class="form__title" for="passw_rep">Password repeat</label>
        </div>
        <div class="flex-block flex-block_all-center flex-block_vertical form__input_no-border">
            {{ if .log }}
            <input type="text" name="login" id="login" class="form__input text">
            {{ else }}
            <input type="text" name="login" id="login" class="form__input_error form__input text">
            {{ end }}
            {{ if .pass}}
            <input type="password" name="passw" id="passw" class="form__input text">
            <input type="password" name="passw_rep" id="passw_rep" class="form__input text">
            {{ else }}
            <input type="password" name="passw" id="passw" class="form__input_error form__input text">
            <input type="password" name="passw_rep" id="passw_rep" class="form__input_error form__input text">
            {{ end }}
        </div>

        <input type="submit" value="Send" class="text text_form form__input_send">
    </form>    
</body>
</html>
