<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="background background_login">
        <main class="main">
            <form method="post" class="form menu flex-block flex-block_vertical flex-block_all-center">
                {{ if .log }}
                <input required placeholder="Логин" type="text" name="login" id="login" class="form__input text">
                {{ else }}
                <input required placeholder="Логин" type="text" name="login" id="login" class="form__input_error form__input text">
                {{ end }}
                {{ if .pass}}
                <input required placeholder="Пароль" type="password" name="passw" id="passw" class="form__input text">
                <input required placeholder="Повтор пароля" type="password" name="passw_rep" id="passw_rep" class="form__input text">
                {{ else }}
                <input required placeholder="Пароль" type="password" name="passw" id="passw" class="form__input_error form__input text">
                <input required placeholder="Повтор пароля" type="password" name="passw_rep" id="passw_rep" class="form__input_error form__input text">
                {{ end }}
                <input type="submit" value="Зарегистрироваться" class="text form__input form__input_button">
            </form>    
        </main>
    </section>
</body>
</html>
