<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form method="post" class="form flex-block flex-block_vertical flex-block_all-center">
            {{ if .log }}
            <input placeholder="Login" type="text" name="login" id="login" class="form__input text">
            {{ else }}
            <input placeholder="Login" type="text" name="login" id="login" class="form__input_error form__input text">
            {{ end }}
            {{ if .pass}}
            <input placeholder="Password" type="password" name="passw" id="passw" class="form__input text">
            <input placeholder="Password repeat" type="password" name="passw_rep" id="passw_rep" class="form__input text">
            {{ else }}
            <input placeholder="Password" type="password" name="passw" id="passw" class="form__input_error form__input text">
            <input placeholder="Password repeat" type="password" name="passw_rep" id="passw_rep" class="form__input_error form__input text">
            {{ end }}
        <input type="submit" value="Send" class="text form__input">
    </form>    
</body>
</html>
