<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="text text_bold">WAITING ROOM</p> 
    <p class="text">Hello {{.id}}</p>
    <a href="/games/connectionMenu" class="text">Cancel</a>

    <script>
        const parsedURL = new URL(window.location.href);

        const replay = parsedURL.pathname.replace("waiting", "closeGame")

        window.addEventListener("visibilitychange", () => {
            if (document.visibilityState === "hidden") {
                navigator.sendBeacon(replay)
            }
        })
    </script>
</body>
</html>
